
body {
    margin: 0; padding: 0;
    background-color: #EEE;
    font-family:  'Inter', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table {
    width: calc(100% - 30px);
    border: 1px solid lightgray;
    border-collapse: collapse;
    font-size: 0.8em;
    padding: 10px;
}

table tr:nth-child(odd) {
    background-color: #e8e8e8;
}

table tr.powrow {
    background-color: lightcoral !important;
    font-weight: bold !important;
    color: white !important;
    transform: scale(1.01);
    box-shadow: 0px 0px 5px gray;
}

.t-key {
    text-transform: uppercase;
    text-align: left;
}

.t-value {
    text-align: right;
}

td {
    padding: 5px;
}

.insecr {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 999999;
}

.iter {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: red;
    font-weight: bold;
    opacity: 0.5;
    user-select: none;
}

.modal-iter {
    position: absolute;
    user-select: none;
    top: -1.5em;
    left: 5px;
    color: white;
    font-weight: bold;
}

.noscript-msg {
    position: absolute;
    display: block;
    z-index: 999999;
    width: 100vw; height: 100vh;
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noscript-msg .text {
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    max-width: 80vw;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    /* margin: 2px; */
    transition: 0.25s;
    cursor: pointer;
    user-select: none;
}

.info.btn {
    background-color: lightcoral;
}

.cert.btn {
    background-color: rgb(0, 0, 105);
}

.orange.btn {
    background-color: orange;
}

.page {

    position: relative;
    width: 100vw; height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    overflow: hidden;

}

.page .bg {
    display: block;
    position: absolute;
    z-index: 3;
    width: 102vw; height: 102vh;
    top: 0; left: 0; right: 0; bottom: 0;

    filter: blur(5px)
}

.page .person-card {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 3px;
    line-height: 1.5;

    display: block;
    position: absolute;
    z-index: 5;

    width: 50vw;

    border-left: 20px solid lightcoral;

    transition: filter 1s, transform 0.5s;
    cursor: pointer;
}

.page .person-card:hover {
    transform: scale(1.05);
}

.page .person-card .name {
    font-size: 3em;
    font-weight: 900;
}

.abs-bg {
    position: absolute;
    width: 100vw; height: 100vh;
    display: block;
    z-index: 4;
    margin: 0; padding: 0;
    cursor: default;

    overflow: hidden;
}

.abs-bg span {
    opacity: 0.5;
}

.abs-bg span:nth-child(even) {
    opacity: 1;
    color: black;
}

@media (max-width: 800px) {
    .page .person-card {
        width: 75vw;
    }

    .btn {
        width: 100%;
    }
}

/* Modal */

.modal {
    position: absolute;
    display: block;
    z-index: 9999999;
    width: calc(100vw - 60px);
    margin: 10px;
    max-height: 95vh;
    padding: 20px;

    border-radius: 5px;
    border-top: 30px solid coral;

    background-color: white;

    transition: 1s, border-top 0.25s;
    top: -200vh;
}

.modal:hover {border-top: 30px solid burlywood}

.modal .x {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    user-select: none;
    cursor: pointer;
}

#dbi {
    display: none;
}